body{
	position:relative;
	margin:0;
	padding:0;
}
a{
	width:62px;
	height:22px;
	text-decoration:none;
	font-size:14px;
	border:1px solid #333;
	background:#eee;
	border-radius:3px;
}


.tablewrapper{
	width:900px;
	height:400px;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
table,tr,td,th{
	border-collapse:collapse;
	text-align:center;
}
table{
	width:100%;
	border:1px solid #333;
	color:#333;
	
}
tbody{
	overflow:scorll;
}
thead, tfoot{
	border:1px solid #333;
	background:#999;
}
tbody td {
	border-bottom:1px solid #eee;
}
tbody tr:last-child {
	border-bottom:1px solid #333;
}

tfoot{
	text-align:left;
	border-bottom:1px solid #333;
}

.functions{
	width:100%;
	height:30px;
	display:flex;
	justify-content:space-between;
}
.deptOne{
	cursor:pointer;
}
.deptOne:hover{
	background:#eee;
}

.ifnull{
	color:#999;
}

.modalContainer{
	width:100%;
	height:100%;
	background:rgba( 196, 196, 196, 0.8 );
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.deptInfoDiv{
	width:1000px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:flex;
}
.deptInfoDiv > div:first-child {
	width:40%;
	height:100%;
}

.deptInfoDiv > div:last-child {
	width:60%;
	max-height:400px;
}
.empInfoDiv .tb{
	max-height:181px;
	overflow: scroll;
}

.tfoot{
	width:100%;
	height:25px;
	background:#999;
	border:1px solid #333;
	display:flex;
	justify-content:space-between;
}

.empInfoDiv .tfoot div{
	display:flex;
}

.deptInfoDiv table{
	background:#fff;
	margin-right:2px;
}
.deptInfoDiv input::placeholder{
	text-align:center;
	color:#bdbcbe;
}
.deptInfoDiv table tbody td{
	height:45px;
}

select{
  height: 20px;
  vertical-align: middle;
}

.emp{
	width:500px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.creat{
	width:300px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}