@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}


*{
	box-sizing:border-box;
	/* padding 으로 사이즈 늘어남 방지 */
}

ul{
	list-style:none;
}

a, a:active, a:visited {
    text-decoration: none;
}

a {
    color: #333;
}

li, ol, ul {
    list-style: none;
}

html, body {
padding:0;
margin:0;
font-size:14px;
background:#fff;
font-family:nt;
}
main > section {
	padding:0;
	margin:0;
}

.myBorder {
	color:#dedede; 
	text-align:center;
	padding:7 0;
	font-size:15px;
}



.exWrapper {
	width:100%;
	height:1945px;
	
}

.ex_main {
	height:100%;
	width:100%;
	min-width: 1200px;
    max-width: 1400px;
	padding:95px 0 0 0;
	display:flex;
	margin: 0 auto;
}

.trading {
	width:990px;
	height:100%;

}
.chartBox {
	width:100%;
	height:600px;

}

.chartBoxHeader {
	width:100%;
	height:45px;
	border-bottom:1px solid #ddd;
	padding:0 14px;
	display:flex;
	

}

._chartBoxHeader {
	height:100%;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.chartBoxHeaderLeft {
	display:flex;
	align-items:center;
}

.btn-secondary {
	background:none; 
	border:none; 
	height:40px;

	display:flex;
	align-items:center;
}
.btn-check:active+.btn:focus, .btn-check:checked+.btn:focus, .btn.active:focus, .btn.show:focus, .btn:active:focus
{
	box-shadow: none !important;
}
.btn-check:focus+.btn, .btn:focus {
	box-shadow: none !important;
}


.setting{
	transform: translate(-234px, 42px) !important;
	width: 270px;
	height:400px;
	padding:0px;
}

.settingHeader {
	width:100%;
	height:34px;
	background:#f9fafc;
	padding:8px 14px;
}
.settingHeader > div {
	padding-top:8px;
}
.settingContents{
	padding:0 16px;
}

.darkMod {
	width:100%;
	height:67px;
	display:flex;
	align-items:center;
	
	border-bottom:1px solid #dedede;
}
.darkModBtn{
	height:30px;
	width:60px;
	display:flex;
	margin-right:10px;
	
	border:1px solid #dedede;
}

.darkModBtn1, .darkModBtn2{
	width:30px;
	height:30px;
	padding:8px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;

}
.darkModBtn>span:hover {
	background:#dedede;
}

.bidpriceChkBox{
	font-size:13px;
	color:#666666;
	padding-top:16px;
	width:100%;
	height:53px;
}
.chartSetting{
	height:34;
	width:100%;
	background:#f9fafc;
	padding-top:8px;
}

.btcLogo {
	heigth:26px; 
	width:26px;
	margin:0 10 0 0;
}

.boxes {
	background:#fff;
}

.Arrow {
	display: inline-block;
    height: 44px;
    width: 13px;
    padding: 0 8px;
    background: url(https://cdn.upbit.com/upbit-web/images/ico_select_1.34dc566.png) center 18px no-repeat;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: top;
}

.chartBoxHeaderRight {
	height:100%;
	display:flex;
	align-items:center;
}

.chartBoxHeaderContents {
	height:100%;
	width:145px;
	color:#333333;
	font-size:16px;
	font-weight: 700;
	text-decoration:none;
	cursor:pointer;
	padding:12px 58px;
}
.chartBoxHeaderContents:hover {
	color:#333333;
	text-decoration:underline;
}

.dropdown-center {
	height:44px;
	widht:44px;
}

.dropdown-center:hover{
	background:none;
}

.livePriceBox {
	width:100%;
	height: calc(100% - 44px);
	heig
}

.livePrice{
	width:100%;
	height:87px;
	padding: 18px 20px 14px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.livePriceContents{
	height:100%;
	width:200px;
	margin:0 5px;
	
	display:flex;
	flex-direction: column;
	justify-content:center;
}

.price {
	width:320px;
	height:100%;
	padding: 0 0 15px 0;
}

.priceAndCap {
	height:55px;
	width:490px;
	display:flex;
}

.hightAndLow {
	width:210px;
	height:100%;
}
.hightAndLow > div {
	display:flex;
	justify-content:space-between;
	aligh-items:center;
}

.cap {
	width:230px;
	height:100%;
}

.cap > div {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.otherMarket {
	width:100%;
	height:33px;
	background:#eef0f5;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.marketName {
	font-size:12px;
	color:#3F8AC9
}

.MPrice {
	font-size:13px;
	color:#333333;
	margin:0 5px;
}

.MPriceUSD {
	font-size:12px;
	color:#999999;
}

.liveChartbox{
	width:100%;
	height:calc(100% - 121px);
	background:#b4b3b5;
}

.liveChartboxMenu{
	height:38px;
	width:100%;
	background:#d4d6dc;
	border-bottom:1px solide #d4d6dc;
	
	display:flex;
	align-items:center;
	padding:0 10px;
}

.menuContents {
	margin-left:7px;
	
}


.tradingBox {
	width:100%;
	height:800px;

	display:flex;
	padding:10px 0px;
}

.bidPriceBox {
	width:490px;
	height:100%;

	margin-right:10px;
}

.bidPriceBoxNav {
	width:100%;
	height:45px;
	border-bottom: 1px solid #dedede;
	padding:5px;
	
	display:flex;
	justify-content: space-between;
}

.bidPriceBoxNav > div {
	display:flex;
}
.nav-link {
	width:110px;
	height:45px;
	color:#333333;
	font-size:16px;
	text-align:center;
	cursor:pointer;
	
}

.active {
   	height: 39px !important;
    border-bottom: 3px solid #0062df !important;
    color: #0062df !important;
    font-weight: 700 !important;
}
.active2 {
   	height: 44px !important;
    border-bottom: 3px solid #333 !important;
    color: #333 !important;
    font-weight: 700 !important;
}

.active2Buy {
   	height: 44px !important;
    border-bottom: 3px solid #c84a31 !important;
    color: #c84a31 !important;
    font-weight: 700 !important;
}

.active2Sell {
   	height: 44px !important;
    border-bottom: 3px solid #1261c4 !important;
    color: #1261c4 !important;
    font-weight: 700 !important;
}
.orderContainer {
	width:490px;
	height: calc(100% - 90px);
	overflow:scroll;
}

colgroup {
	display:table-column-group;
}

.orderContainerWrap {
	width:100%;
	position: relative;
}

.orderContainerWrap a{
	display:flex;
	justify-content:flex-end;
	text-decoration:none;
}

.up {
	color: #c84a31!important;
}
.down{
	color: #1261c4!important;
}
.down .upB{
	padding:0 8px;
	background:rgba(18,97,196,.0784313725490196);
}
.up .downB {
	padding: 0 8px;
    background-color: rgba(200,74,49,.0784313725490196);
}

.orderContainerPrice .down .bar{
	padding-left:8px;
	text-align:right;
	background:rgba(18,97,196,.0784313725490196);
}

.orderContainerPrice .up .bar {
	padding-left:8px;
	text-align:right;
	background:rgba(200,74,49,.0784313725490196);
	vertical-align: middle;
}

.positionR {
	position:relative;
	/* 호가창에서 현제 시세를 마크업 해주는 html 요소임. */
}

.ty02{
	width: 50px;
    margin-left: 14px;
    line-height: 36px;
    text-align: right;
    font-size:12px;
}
.ty03 {
	line-height: 36px;
    text-align: right;
    font-size:13px;
	
}
.orderContainerWrap table{
	width:100%;
	table-layout:fixed;
	border-spacing:0;
}

.orderContainerWrap tr {
	display:table-row;
}
.orderContainerWrap table tr td {
	height:44px;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	text-align:right;
}
.orderContainerWrap table tr td em {
	display: block;
    color: #999!important;
    font-size: 11px;
}

.orderContainerWrap table tr td dl {
	margin: 0 8px;
    padding: 10px 0;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.orderContainerWrap table tr.down td.bar div{
	background-color: rgba(18,97,196,.14901960784313725);
    color: #333;
    vertical-align: middle;
    overflow: hidden;
    text-indent: 999em;
    position:absolute;
    right:0;
    transform: translate(0,-50%);
}

.orderContainerWrap table tr.up td.bar div{
	background-color: rgba(200,74,49,.14901960784313725);
    color: #333;
    vertical-align: middle;
    overflow: hidden;
    text-indent: 999em;
    position:absolute;
    left:0;
    transform: translate(0,-50%);

}

.orderContainerWrap table tr td.bar div{
	display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
}

.orderContainerWrap table tr td dl:first-child {
	border-top:none;
}



.orderContainerWrap table tr.down td:first-child{
	padding-left: 0;
    border-left: 0;
    text-align: center;
    background-color: rgba(18,97,196,.0784313725490196);
}

.orderContainerWrap table tr.up td.last{
	background-color: rgba(200,74,49,.0784313725490196)!important;
}


.orderContainerWrap table tr .bar {
	position:relative;
	width:7px;
	height:27px;
	margin:0 auto;
	overflow:hidden;
	font-size:12px;	
}

.orderContainerPrice table tr.down .bar a p{
	color:#333 !important;
	text-align:right;
	position:absolute;
	right:5;
	transform: translate(0,-50%);
}

.orderContainerPrice table tr.up .bar a p{
	color:#333 !important;
	text-align:left;
	position:absolute;
	left:5;
	transform: translate(0,-50%);
}

.orderContainerWrap dl dt {
	float:left;
	width:40%;
	margin-top:6px;
	color:#666;
	line-height:16px;
	font-size:11px;
	text-align:left;
	display:block;
}
.orderContainerWrap dl dd {
	float:left;
	width:60%;
	margin-top:6px;
	line-height:16px;
	color:#333;
	font-size:11px;
	text-align:right;
}

.orderContainerWrap table thead th{
	height: 30px;
    background-color: #f9fafc;
    color: #666;
    font-size: 11px;
}
.orderContainerWrap .inner01 {
	width: 162px;
	height:675px;
    border-right: 0;
    vertical-align: bottom;
    position: relative;
}

.orderContainerWrap .inner02 {
	width: 162px;
	height:675px;
    padding: 0;
    vertical-align: top;
}

.orderContainerWrap .inner02 table tr th{
	height: 30px;
    background: #f9fafc url(https://cdn.upbit.com/upbit-web/images/ico_th.c9efe72.png) 0 no-repeat;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
}


.inner02 dd{
	text-align:right;
}
.inner02 th {
	text-align:center;
}

.inner02 table tr td {
	cocolor: #666;
    font-size: 11px;
    text-align:right;
    height:16px;
}

.inner02 .bar {
	cocolor: #666;
}

.overflow {
	height: 419px;
    overflow: hidden;
}


.orderContainerTotal table.total{
	background-color: #f9fafc;
    border-top: 1px solid #ddd;
    width:100%;
    height:44px;
    text-align:center;
}
.orderContainerTotal table.total tr td:first-child {
	padding-left: 0;
    border-left: 0;
}

.orderContainerTotal table.total tr td {
	height: 43px;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #eee;
    line-height: 18px;
    color: #333;
}
.orderContainerTotal table.total tr td em {
	font-size: 11px;
	margin:0px;
}


.orderContainerTotal table.total tr td a{
	color: #333;
	cursor:pointer;
}

.orderContainerTotal a {
	text-decoration: none;
}



/* orderContainerOrderPrice.jsp start */

.orderContainerOrderPrice .down .bar{
	padding-left:8px;
	text-align:right;
	background:rgba(18,97,196,.0784313725490196);
}
.orderContainerOrderPrice .DefualutHover, .orderContainerOrderPrice .bar{
	text-align:left;
	font-size:12px;
	color:#333;
}
.orderContainerOrderPrice .up .DefualutHover{
	background-color: rgba(200,74,49,.0784313725490196);
	
}

.orderContainerOrderPrice .down .DefualutHover{
	background-color: rgba(18,97,196,.0784313725490196);
}

.orderContainerOrderPrice .up .bar {
	padding-left:8px;
	text-align:right;
	background:rgba(200,74,49,.0784313725490196);
}



.orderContainerOrderPrice table tr.up td:first-child{
	padding-left: 0;
    border-left: 0;
    text-align: center;
    background-color: rgba(200,74,49,.0784313725490196);
}

/* .orderContainerOrderPrice table tr td.bar.right {
	text-align: left;
    padding-left: 0;
    padding-right: 8px;
}

.orderContainerOrderPrice table tr td.bar.left {
	text-align: right;
    padding-left: 0;
    padding-right: 8px;

} */

.orderContainerOrderPrice table tr td {
	vertical-align: middle;
	padding:5px;
}

.orderContainerOrderPrice table tr.up td.last{
	background-color: rgba(200,74,49,.0784313725490196);
}
.orderContainerOrderPrice table tr.down td.last{
	background-color: rgba(18,97,196,.0784313725490196);
}

.orderContainerOrderPrice table tr .bar p {
	color: #333 !important;
	vertical-align: middle;
	position: absolute;
	left:5;
	transform: translate(0,-50%);
}


.orderContainerOrderPrice table tr.up td.DefaultHover{
	padding: 0 8px;
    text-align: left;
    background-color: rgba(200,74,49,.0784313725490196)!important;
}
.orderContainerOrderPrice table tr.down td.DefaultHover{
	padding: 0 8px;
    text-align: left;
    background-color: rgba(18,97,196,.0784313725490196)!important;
}


.orderContainerOrderPrice table tr.down td.bar div{
	background-color: rgba(18,97,196,.14901960784313725);
    color: #333;
    overflow: hidden;
    text-indent: 999em;
    position:absolute;
	left:0;
	top: 22px;
}

.orderContainerOrderPrice table tr.up td.bar div{
	background-color: rgba(200,74,49,.14901960784313725);
    color: #333;
    overflow: hidden;
    text-indent: 999em;
    position:absolute;
	left:0;
	top: 22px;
    
}

.orderContainerOrderPrice table tr td.bar div{
	display: inline-block;
    height: 26px;
    line-height: 26px;
    
}

/* orderContainerOrderPrice.jsp end */

/* orderContainerOrderNavigation.jsp start */

.orderContainerOrderNavigation table tr.up > td:first-child{
	background-color: rgba(18,97,196,.0784313725490196);
	color: #1261c4!important;
}
.orderContainerOrderNavigation table tr td.last{
	background-color: rgba(200,74,49,.0784313725490196)!important;
}
.orderContainerOrderNavigation table tr.up td.bar p{
	position: absolute;
	left:0;
	transform: translate(0,-50%);
	color: #333;
}

.orderContainerOrderNavigation table tr.down td.bar p{
	position: absolute;
	right:0;
	transform: translate(0,-50%);
	color: #333;
}

.orderContainerOrderNavigation .right {
	text-align:left;
}
	
.orderContainerOrderNavigation table tr.up td.bar, td.upB {
	background-color: rgba(200,74,49,.0784313725490196)!important;
}
.orderContainerOrderNavigation table tr.down td.bar, td.downB{
	background-color: rgba(18,97,196,.0784313725490196);
}

/* orderContainerOrderNavigation.jsp end */


.Bidbox {
	background:grey;
	width:100%;
	height:680px;
}

.BoS {
	width:490px;
	height:477px;
}
.orderBox{
	width: 100%;
	height:100%;
	background-color: #fff;
}

.orderBoxTab{
	width: 100%;
	height: 45px;
	display:block;
}
.orderBoxTab ul {
	display: table;
    width: 100%;
    table-layout: fixed;
} 

.orderBoxTab ul li {
	display: table-cell;
    width: auto;
    float: none;
	font-size: 16px;
}

.orderBoxTab ul li a {
	display: block;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #d4d6dc;
    line-height: 42px;
    color: #333;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    padding: 3px 0 0 0;
}

.orderBoxBody div{
	position: relative;
}

.fa-regular {
	cursor:pointer;
}
.fa-regular:hover{
	color:#grey;
}
.orderBoxBody dl {
	margin-top:10px;
}

.orderBoxBody dl dt {
	height:53px;
	width: 134px;
	padding:10 0 0 15px;
	clear:left;
	float:left;
	color: #666;
    font-size: 13px;
    font-weight: 500;
}
.orderBoxBody dl em {
	font-size: 11px;
}
.orderBoxBody dl dd {
	height:53px;
	width: auto;
	float:right;
	padding:10px 10px 0 0;

}
.orderBoxBody dl dd strong{
	font-size: 18px;
}
.orderBoxBody dl dd em{
	font-size: 11px;
}
.orderBoxBody dl dd .mb-3{
	width:330px;
}

.orderBoxBody .input-group>.form-control{
	text-align:right;
}

.orderBoxBody dl dd div.orderTpye{
	display:flex;
	width:100%;
	height:100%;
}
.orderBoxBody dl dd div.orderTpye >div {
	margin-right:10px;
}


.orderBoxBody .last {
	width:100%;
	display:flex;
	margin-top:25px;
	padding:0 14px;
	justify-content:space-between;
}
.orderNotice > span{
	font-size:11px;
	margin-left: 10px;
}

.toggleMenueBody{
	display:none;
}

.orderNotice span .fa-solid{
	margin-right:5px;
	font-size:3px;
}
.orderBoxBody .last >span {
	text-align:center;
	line-height:45px;
	font-size: 14px;
    font-weight: 700;
    color:#fff;
}

.orderBoxBody .orderBtn1{
	display:block;
	width:108;
	height:44px;
	background:#94949d
}

.orderBoxBody .orderBtn2{
	display:block;
	width:344px;
	height:44px;
	background:#94949d;
}

.easyOrderSetting{
	width:100%;
	height:51px;
	display:flex;
	justify-content:space-between;
	padding:0 15px;
	border-bottom:1px solid #eee;
	
	
}
.easyOrderSetting div{

line-hieght:10px;
}

.easyOrderSetting div span {
	color:#666;
	line-height: 3.5;
	font-size:14px;
}
.fa-regular{
	font-size:15px;
	cursor:pointer;
}
.fa-regular:hover{
	background:#0062df;
	border-radius:7px;
	color:#fff;
}

.easyOrderSetting div:last-child span{
	margin-left:10px;
}

.availableOrder{
	width:100%;
	height:62px;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	padding:15px;
	box-sizing: border-box;
}

.availableOrder_1{
	width:235px;
	height:35px;
	display:flex;
	justify-content: space-between;
}

.availableSell{
	padding-left:30px;
}
.availableBuy{
	padding-right:30px;
}

.easyOrderOptionsWrapper{
	overflow:scroll;
	width:100%;
	height:320px;
}

ul li{
	list-style: none;
}


.easyOrderOptions{
	width:100%;
	padding:0;
}

.orderOptions{
	width: 100%;
	height:62px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 15px;
}

.orderOptions div:first-child div:first-child{
	font-size:16px;
}

.orderOptions div:first-child div:last-child{
	font-size:13px;
	color:#999;
}

.orderOptions .last span:first-child {
	font-size:11px;
	color:#999;
}

.orderOptions._a{
	background:#f9fafc;;
}
.orderOptions div:last-child{
	display:flex;
}
.orderOptions div:last-child div:first-child{
	line-height: 33px;
	margin-right:10px;
	font-size:11px;
	color:#999;
}

.orderBtn_{
	display: block;
    text-align: center;
    line-height: 33px;
    cursor:pointer;
}

.orderBtn_{
	width:70px;
	height:34px;
	font-weight:700px;
}
.orderBtn_a{ 
	border:1px solid #c84a31;
	color: #c84a31;
}
.orderBtn_b{
	border:1px solid  #0062df;
	color: #0062df;
}
.orderBtn_c{
	border:1px solid  #666;
	color: #666;
}

.THWrapper{
	padding:0 15px;
	width:100%;
	height: 432px;
}

.viewOption{
	width:100%;
	height:51px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.radioOption{
	display:flex;
	align-items:center;
}

input[type=radio]{
	accent-color:#0062df;
}
.radioOption div label{
	display:flex;
	align-items:center;
	color:#333;
}
.radioOption div label input {
	margin-right:10px;
}

.radioOption div:first-child{
	margin-right:10px;	
}
.button.droppdown-item{
	color:#333;
}
.dropdown .btn{
	color:#333;
}
.dropdown .btn:hover{
	background:#dedede;
}

.dropdown .btn.show {
	background:#dedede;
}

.dropOption .dropdown-menu.show {
	transform: translate(-54px, 42px) !important;
	font-size:12px !important;
	text-align:right;
}

.settleOrderWrapper{
	overflow:scroll;
	width:100%;
	height:381px;
}

.settleOrderWrapper .settleOrderNY{
	width:100%;
	height:100%;
}
.settleOrderWrapper .settleOrderNY .settleOrderTable{
	width:100%;
	color:#333;
	font-size:11px;
}
.settleOrderWrapper .settleOrderNY .settleOrderTable thead{
	background: #f9fafc;
	text-align:center;
	height:54px;
	color:#666;
	font-weight:100;	
}
.settleOrderWrapper .settleOrderNY .settleOrderTable thead th{	
	border: 1px solid #eee;
	width:94px;
	
}
.settleOrderWrapper .settleOrderNY .settleOrderTable tbody {
	border-left:0px;
	border-right:0px;
}
.settleOrderWrapper .settleOrderNY .settleOrderTable tbody th{
	border: 1px solid #eee;
	height:54px;	
}

.settleOrderWrapper .settleOrderNY .settleOrderTable tbody td{
	border: 1px solid #eee;
	height:50px;
	padding:0 10px;
}

.exHis td:fist-child{
	color:#666;
}

.settleOrderNY._N .exHis td:first-child{
	text-align:left;	
}

.settleOrderNY._N .exHis td{
	text-align:center;	
}

.settleOrderNY._Y .exHis td:first-child{
	text-align:left;	
}

.settleOrderNY._Y .exHis td{
	text-align:center;	
}

.settleOrderNY._Y .exHis td:last-child{
	text-align:right;	
}

.miniChart{
	width:100%;
	height:293px;
	background:#fff;
	margin-top:10px;
}

.trasactedHistory{
	height:436px;
	width:100%px;
	background:#eee;
}


.cryptoList {
	width:400px;
	height:1400px;
	padding:0 0 0 10px;
}

.cryptoListIn {
	width:100%;
	height:100%;
	background:#9fbfc8;
}


