@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



* {
	border-collapse: collapse;
	box-sizing:border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

a, abbr, acronym, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, object, ol, p, pre, q, s, samp, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, u, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
	padding:0px;
	margin: 0px;
	background:#e7e7ed;
}



.wrapper {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:#e7e7ed;
	position:relative;
}

.header2 {
	height:80px;
	width:100%;
	min-width:1200px;
	background:#093687;
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:15px;
	color:#fff;
	padding:10 20 10 20px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:400;
	margin: 0 0 15px 0;
	padding:0 122px;
	position:absolute;
	top:0px;
	left:0px;
}

.header2 .header-left,.header2 .header-right {
	display:flex;
	align-items:center;
}
.headee-contents {
	margin:0 10 0 10;
	cursor:pointer;
}
.logo-link {
	display: inline-block;
	width: 77px;
    height: 17px;
    background:transparent url(https://cdn.upbit.com/upbit-web/images/logo_upbit_sub.4d84cc7.svg) no-repeat 0 0;
}

.main{
	position:relative;
	display:flex;
	justify-content:space-between;
	height:100%;
	width:1200px;
	padding:0;
	position:absolute;
	top:75px;
}
main > section {
	margin: 0 20 0 20px; 
}

.section-left {
	height:100%;
	width:180px;
	font-family: 'Noto Sans KR', sans-serif;
}

.left-navi {
	height:680px;
	width:100%;
	box-shadow: 2px 2px 4px #dee1e7;

}

.title-box {
	height:80px;
	width:100%;
	background:#525f6e;
	text-align:center;
	display:flex;
	align-items:center;
	color:#fff;
	
}
.menu-bar {
	width:100%;
	height:560px;
	background:#fff;
	display:flex;
	flex-direction:column;
}


ol,ul{
	width:100%;
	list-style: none;
	display:flex;
	flex-direction:column;
	padding:16px 0;
}
menu-bar span{
	margin:0px;
	padding:0px;
	font-weight:900px;
}
.left-navi-contents {
	cursor:pointer;
	padding:0 0 0 30px;
	height:44px;
	color:#333;
	display:flex;
	align-items:center;
}

.left-navi-contents:hover {
	font-weight:700;
	color:#1261c4;
	background:#f5f6fa;
	
}

.left-navi-contents.active {
	background:#f5f6fa;
}



.section-right {
	height:100%;
	width:calc(100% - 237px);
	background:#fff;
	padding:40 50 45 50;
	box-shadow: 2px 2px 4px #dee1e7;
}

.section-right-info {
	min-height:calc(100% - 60px);
	width:100%;
}

.section-right-info-top{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: 100%;
	margin:0 0 10 0px;
}

.d-flex {
	display:flex;
	align-items:center;
}

.info-table-thead{
	background:#f5f6fa;
}

.info-table {
	font-size: 100%;
	width:100%;
	height:100%;
	color: #666;
	text-align:center;
	border-top: 2px solid #9b9fa8;
}
.info-table thead > tr {
	border-top:none;
	height:47px;
}
.info-table tr {
	border-top: 1px solid #9b9fa8;
	height:51px;
}

.info-table thead{
	width:100%;
    font-weight: 500;
}

.info-table-tbody {
	height:100%;
	width:100%;
	background:grey;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
}




