@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}


*{
	box-sizing:border-box;
	/* padding 으로 사이즈 늘어남 방지 */
}

ul{
	list-style:none;
}


html, body{
	padding:0;
	margin:0;
	font-size:14px;
	background:#fff;
	font-family:nt;
}

.form-wrapper {
	margin-top: 80px;
	width:100%;
	min-height: 1300px;
	display:flex;
	flex-direction:column;
	align-items:center;
	background:#fff;
}

.title {
	width: 860;
    text-align: left;
    margin:40px 0;
    font-weight:700;
}

.user_form {
	width:860;
	height:100%;
	border:1px solid #999999;
	padding:60px 130px;
}

.user_form span {
	margin:15px 0;
}

.form-title {
	margin:20px 0;
}

.form-control {
	margin:5px 0;
}

.address-detail-box {
	width: 100%;
	height:70px;
}

.button_div {
	width:100%;
	height:40px;
	display:flex;
	justify-content:space-between;
	margin-top:50px;
}
