<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- =================%%fix below%%================== -->
<mapper namespace="com.yanison.infra.modules.codegroup.CodeGroupMapper">
<!-- ================================%%fix below%%================== -->							
    <resultMap id="resultMapObj" type="com.yanison.infra.modules.codegroup.CodeGroup"></resultMap>
																		
	<select id="selectDeptList" resultMap="resultMapObj">
		select * from dept
	</select>
	
	<select id="selectDeptOne" resultMap="resultMapObj">
		select * from dept where deptid = 4
	</select>
	
	<update id="selectUdpt">
		update dept set dname=#{danmeUdpt} where deptid = #{deptid};
	</update>

</mapper>