<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- =================%%fix below%%================== -->
<mapper namespace="com.yanison.infra.modules.codegroup.CodeGroupMapper">
<!-- ================================%%fix below%%================== -->							
    <resultMap id="resultMapObj" type="com.yanison.infra.modules.codegroup.CodeGroup"></resultMap>
																		
	<select id="selectDeptList" resultMap="resultMapObj">
		select 
			deptid,pid,dname,count(dept) eodcnt,captain,
			(select ename from emp where d.captain = empid) ename 
		from emp e left join dept d 
			on d.deptid = e.dept where d.activeNy = 1
			group by dept;
	</select>
	
	<select id="selectAllEmp" resultMap="resultMapObj">
		select * from emp where dept = #{deptid} and where activeNy = 1
	</select>
	
	<select id="selectDeptOne" resultMap="resultMapObj">
		select *,(select ename from emp where empid = d.captain) ename from dept d where deptid = #{deptid}
	</select>
	
	<select id="selectCaptain" resultMap="resultMapObj">
		
	</select>
	
	<insert id="insertDept">
		insert into dept (
			dname,
			pid,
			captain
		)
		values(
			#{dname},
			#{pid},
			#{captain}
		)
	</insert>
	
	<update id="selectUdpt">
		update dept set 
		dname = #{dnameUdpt},
		pid = #{pidUdpt},
		captain = #{captainUdpt}
		where deptid = #{deptid};
		
		<!-- update dept set 
		dname="영업부부젤라라",
		pid=0,
		captain=2
		where deptid = 1; -->
	</update>

</mapper>

