<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- =================%%fix below%%================== -->
<mapper namespace="com.yanison.infra.modules.ezenboard.EzenBoardMapper">
<!-- ================================%%fix below%%================== -->							
    <resultMap id="resultMapObj" type="com.yanison.infra.modules.ezenboard.EzenBoardGroup"></resultMap>
  	
  	<sql id="selectCommon">
	  	from emp e left join dept d on e.dept = d.deptid
		WHERE 1=1
		<!-- <if test="shDelNy != null and !shDelNy.equals('')">AND activeNy = #{shDelNy}</if> -->
		<choose>
			<when test="shOption == 1">AND empid = #{shValue}</when>
			<when test="shOption == 2">AND ename LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND dname LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND activeNy LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>	
  	</sql>
  	
  	<select id = "selectList" resultMap="resultMapObj">
  		select
			empid
			,ename
			,(select dname from dept d where e.dept = d.deptid) as dname
			,workdate
			<include refid="selectCommon"/>
			order by empid desc
			limit #{rowNumToShow} offset #{startRnumForMysql}
  	</select>
  	  
  	<select id="selectOneCount" resultType="java.lang.Integer">
  		select count(*) from emp
  	</select>
  	
  	<insert id="groupInst">
  		insert into emp (
  			ename,
  			salary,
  			dept
  		)
  		values(
  			#{shvalueInstStr},
  			#{shvalueInstInst},
  			#{shvalueInstInst}
  		)
  	</insert>
  	
  	<select id=""></select>
	
</mapper>